
body{
	background-image: url(../images/NoGameNoLife.jpg);
	background-size: cover;
}

h1{
	font-family: 'Sirin Stencil', cursive;
	color:#FF69B4;
	text-align:center;
	font-size: 42px;
	
}

p{
	color: #000000;
	font-size: 16px;
}

.panel-default > .panel-heading {
	background-image: linear-gradient(#484e55, #3A3F44 60%, #313539);
	color: #ffffff;
}
.btn-primary{
	background-image: linear-gradient(#484e55, #3A3F44 60%, #313539);
}

.img-thumbnail{
	background-image: linear-gradient(#484e55, #3A3F44 60%, #313539);
}
.panel-title{
	font-size: 20px;
}

.panel{
    margin-bottom: 24px;	
    background-color: rgba(255,228,225,.75);
}

#title{
	background-color: #3e444c;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.theme-button,
.pause-button{
	width: 100px;
	height: 30px;
	margin-bottom: 5px;
	border-radius: 20px;
}

footer{
	color:#000000;
}

@media screen and (min-height: 981px){
	button{
		width: 150px;
		height: 150px;
		margin:5px;
	}
  }   

@media screen and (max-height: 980px) and (min-height: 768px){
	button{
		width: 150px;
		height: 150px;
		margin:5px;
	}
  }   

@media screen and (max-height: 767px) and (min-height: 640px){
	button {
		width: 137px;
		height: 146px;
		margin:5px;
	}
  }

@media screen and (max-height: 639px){
	button {
		width: 137px;
		height: 146px;
		margin:5px;
	}
} 

@media screen and (max-height: 568px){
	button {
		width: 117px;
		height: 126px;
		margin: 5px;
	}
} 